 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2997px;
}

.u-section-1 .u-text-1 {
  width: 845px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-2 {
  width: 800px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  width: 799px;
  margin: 24px auto 0;
}

.u-section-1 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -24px auto 0;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-4 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-5 {
  width: 799px;
  text-align: center;
  margin: 0 auto;
}

.u-section-1 .u-gallery-2 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -23px auto 0;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-2 {
  padding: 10px 0 0 240px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-6 {
  text-align: center;
  width: 799px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-7 {
  text-align: center;
  width: 799px;
  margin: -18px auto 0;
}

.u-section-1 .u-gallery-3 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -24px auto 0;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-3 {
  padding: 10px 0 0 240px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-8 {
  text-align: center;
  width: 799px;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }

  .u-section-1 .u-carousel-thumbnails-2 {
    padding-left: 235px;
  }

  .u-section-1 .u-carousel-thumbnails-3 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
  }

  .u-section-1 .u-gallery-2 {
    width: 720px;
  }

  .u-section-1 .u-carousel-thumbnails-2 {
    padding-left: 200px;
  }

  .u-section-1 .u-text-6 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    width: 720px;
  }

  .u-section-1 .u-gallery-3 {
    width: 720px;
  }

  .u-section-1 .u-carousel-thumbnails-3 {
    padding-left: 200px;
  }

  .u-section-1 .u-text-8 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-gallery-2 {
    width: 540px;
  }

  .u-section-1 .u-carousel-thumbnails-2 {
    padding-left: 110px;
  }

  .u-section-1 .u-text-6 {
    width: 540px;
  }

  .u-section-1 .u-text-7 {
    width: 540px;
  }

  .u-section-1 .u-gallery-3 {
    width: 540px;
  }

  .u-section-1 .u-carousel-thumbnails-3 {
    padding-left: 110px;
  }

  .u-section-1 .u-text-8 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-gallery-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-thumbnails-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }

  .u-section-1 .u-gallery-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-thumbnails-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 971px;
}

.u-section-2 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
  }

  .u-section-2 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
  }

  .u-section-2 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 971px;
}

.u-section-3 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-3 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
  }

  .u-section-3 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 971px;
}

.u-section-4 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-4 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
  }

  .u-section-4 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
  }

  .u-section-4 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 971px;
}

.u-section-5 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-5 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-5 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
  }

  .u-section-5 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
  }

  .u-section-5 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 971px;
}

.u-section-6 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-6 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-6 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
  }

  .u-section-6 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
  }

  .u-section-6 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 971px;
}

.u-section-7 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-7 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-gallery-1 {
    width: 720px;
  }

  .u-section-7 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
  }

  .u-section-7 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 971px;
}

.u-section-8 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-8 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-8 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
  }

  .u-section-8 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-gallery-1 {
    width: 540px;
  }

  .u-section-8 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 971px;
}

.u-section-9 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-9 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-9 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-9 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-9 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-gallery-1 {
    width: 720px;
  }

  .u-section-9 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-gallery-1 {
    width: 540px;
  }

  .u-section-9 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 971px;
}

.u-section-10 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-10 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-10 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-10 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-10 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-10 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-gallery-1 {
    width: 720px;
  }

  .u-section-10 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-gallery-1 {
    width: 540px;
  }

  .u-section-10 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 971px;
}

.u-section-11 .u-text-1 {
  width: 799px;
  margin: 26px auto 0;
}

.u-section-11 .u-gallery-1 {
  width: 795px;
  height: 629px;
  grid-gap: 10px 10px;
  margin: -26px auto 0;
}

.u-section-11 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-thumbnails-1 {
  padding: 10px 0 0 240px;
}

.u-section-11 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-11 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-11 .u-text-2 {
  text-align: center;
  width: 799px;
  margin: 26px auto 0;
}

.u-section-11 .u-text-3 {
  width: 799px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-carousel-thumbnails-1 {
    padding-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
  }

  .u-section-11 .u-gallery-1 {
    width: 720px;
  }

  .u-section-11 .u-carousel-thumbnails-1 {
    padding-left: 200px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
  }

  .u-section-11 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-gallery-1 {
    width: 540px;
  }

  .u-section-11 .u-carousel-thumbnails-1 {
    padding-left: 110px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-carousel-thumbnails-1 {
    padding-left: 10px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-text-3 {
    width: 340px;
  }
}